%ul.nav.navbar-nav.navbar-right.header-sign-in-form
  %li
    - if !user_signed_in?
      = simple_form_for :user, url: session_path(:user), html: { class: "form-inline" } do |f|
        = f.input_field :email, placeholder: 'Email Address'
        = f.input_field :password, placeholder: 'Password'
        = f.submit
    - else
      = button_to 'Sign Out', destroy_user_session_path, method: "delete", class: "btn btn-primary"
