- content_for :welcome do
  .welcome
    %h1 Welcome to Pageantus!
    %p.lead Pageantus allows you to create a pageant and ask judges to connect to it.
    %p.lead= @user.email

- if @user.active_pageant
  = @user.active_pageant.client
  = @user.active_pageant.location
- if @user.pageants.count > 0
  - @user.pageants.each do |pageant|
    = pageant.name
- else
  = link_to 'No pageants. Add your first!', new_pageant_path

