- content_for :welcome do
  .welcome
    %h1 Welcome to Pageantus!
    %p.lead Pageantus allows you to create a pageant and ask judges to connect to it.
    %p.lead= @user.email

= render 'active_pageant'

- if @user.pageants.count > 0
  - @user.pageants.each do |pageant|
    .well{id: pageant.id}
      %p= "Name: #{pageant.name}"
      %p= "Client: #{pageant.client}"
      %p= "Location: #{pageant.location}"
- else
  = link_to 'No pageants. Add your first!', new_pageant_path

