- content_for :welcome do
  .welcome
    %h1 Welcome to Pageantus!
    %p.lead Pageantus allows you to create a pageant and ask judges to connect to it.
    %p.lead= @user.email

= render 'active_pageant'

- if @user.pageants.count > 0
  - @user.pageants.each do |pageant|
    = pageant.name
    = pageant.client
    = pageant.location
- else
  = link_to 'No pageants. Add your first!', new_pageant_path

