!!!
%html
  %head
    = render 'partials/head_contents'
  %body
    %header
      = render 'partials/navigation'
    .page
      %main{:role => "main"}
        = render 'partials/messages'
        .container
          = yield
      = render 'partials/footer'
